nav {
  position:fixed;top:0;width:100%;
  background-color: #000;
  display:flex;
  flex-direction: column;
  height: 24vw;
  width:100vw;
  align-items: center;
  border-bottom:0px solid rgb(255,255,255,0);
}
nav > div {
  transition-duration: 0.5s;
  width: 100%;
  height: 6vw;
  align-content: center;
  text-align: center;
  font-size: 1.5vw;
}
nav > div:hover {
}
nav > div > a {
  align-content: center;
}
@media (min-width:700px) {
  nav {
    position:fixed;top:0;width:100%;
    background-color: #000;
    display:flex;
    flex-direction: row;
    height: 6vw;
    width:100vw;
    align-items: center;
  }
  nav{
    border-bottom:1px solid rgb(255,255,255,0);
    transition-duration: 0.3s;
  }
  nav:hover{
    border-bottom:1px solid rgb(255,255,255,.5);
  }
  nav > div {
    transition-duration: 0.5s;
    width: 15%;
    height: 6vw;
    align-content: center;
    text-align: center;
    font-size: 1.8vw;
  }
  nav > div:hover {
  }
  nav > div > a {
    align-content: center;
  }
}
nav :link, nav :visited {
  color:#fff;
}


body{
  background-color:#000
}
a, p, h1{
  font-family: Arial, sans-serif;
  color:#fff
}
a{
  text-decoration:none;
  transition-duration: 0.2s
}
a:hover{
  color:#26
}
p{
  font-size: 16px
}
@media (min-width:700px) {
  p{
    font-size: 24px
  }
}

.hometitle{
}
.hometitle > div {
}
